fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.6.1

torch==2.5.1
transformers==4.46.3
datasets==3.1.0
scikit-learn==1.5.2
scikit-fuzzy==0.5.0
numpy==1.26.4
pandas==2.2.3

zeyrek==0.1.4

python-multipart==0.0.19
httpx==0.28.1
pytest==8.3.4
